table {
    border-collapse: collapse;
    width: 60%;
    margin-top: 20px;
}
th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

#title{
    font-size:20px;
    font-family:cursive;
}

header button{
    background-color:red;
}

header{
    background-color:#f2a900;
}
